:root {
    --padding-cart: 1.25rem;
}

@media only screen and (min-width: 0rem) {
    .section_container {
        width: 100%;
        padding-inline: 1rem;
        margin: auto;
    }

    .section_content {
        background-color: var(--clr-white);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
        border-radius: .75rem;
        width: 100%;
        display: block;
        margin: auto;
    }

    .content_topper {
        width: 100%;
        position: relative;
        padding: var(--padding-cart);
    }

    .content_tittle {
        width: 100%;
        color: var(--clr-neutral-blue900);
        font-weight: 700;
        font-size: 1rem;
    }

    .content_topper::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--clr-neutral-blue500);
    }

    /* Empty cart */
    .empty_cart {
        height: 24vh;
        position: relative;
    }

    .empty_cart .cart_list {
        display: none;
    }

    .empty_cart::before {
        content: 'Your cart is empty.';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        padding-inline: 1rem;
    }

    /* Filled Cart */
    .list_container {
        padding: var(--padding-cart);
        width: 100%;
    }

    .cart_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .list_element {
        display: flex;
        width: 100%;
        list-style: none;
        justify-content: start;
        align-items: center;
    }

    .img_container {
        width: 66px;
        border-radius: .25rem;
        overflow: hidden;
    }

    .img_container img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text_group {
        margin-inline: .75rem;
        width: 100%;
    }

    .product_name {
        display: block;
        text-transform: capitalize;
    }

    .product_price_calc {
        display: inline;
        width: fit-content;
    }

    .product_price {
        display: inline;
        margin-left: .5rem;
        font-weight: 700;
        color: var(--clr-neutral-blue900);
    }

    .button_container {
        display: flex;
        width: 1.5rem;
    }

    .delete_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: none;
        background: none;
    }

    .delete_button img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .delete_button:hover {
        cursor: pointer;
    }

    .checkout_button_wrapper {
        padding: var(--padding-cart);
        padding-top: 0;
    }

    .checkout_button {
        text-decoration: none;
        text-transform: capitalize;
        background: var(--clr-primary-orange);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-neutral-blue900);
        border-radius: .75rem;
        /* adding a little bit of space at the bottom */
        margin-bottom: .5rem;
    }

    .checkout_button:hover {
        cursor: pointer;
        background: var(--clr-primary-paleOrange);
    }
}

@media only screen and (min-width: 48rem) {
    .section_container {
        width: 342px;
        padding-inline: 0;
    }
}