@media only screen and (min-width: 0rem) {
    .header {
        width: 100%;
    }

    .section_container {
        width: 100%;
        height: 100%;
        max-width: 70rem;
        padding: 1.25rem 1rem;
        margin-inline: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .section_container button:hover {
        cursor: pointer;
    }

    .nav_menu {
        display: inherit;
        align-items: center;
        justify-content: center;
    }

    .nav_menu_toggle {
        background: transparent;
        border: none;
        display: inherit;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    .nav_menu_toggle img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Nav menu style */
    .nav_menu_container {
        position: absolute;
        background: var(--clr-white);
        top: 0;
        left: 0;
        width: 65%;
        height: 100svh;
        z-index: 2;
        padding: 1.5rem;
        pointer-events: auto;
        transform: translateX(0%);
        opacity: 2;
        transition: 
            transform .3s ease,
            opacity .15s;
    }

    .nav_menu_container.hide_nav_menu {
        /* display: none; */
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }

    .nav_menu_close {
        margin-bottom: 2.5rem;
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        gap: 1.5rem;
    }

    .menu_list {
        list-style: none;
    }

    .menu_list a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-neutral-blue900);
    }

    .logo img {
        display: block;
        transform: translateY(-12%);
    }

    .cart_container {
        display: inherit;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: auto;
        margin-right: clamp(1.25rem, 4.8vw, 2.5rem);
    }

    .cart_toggle {
        width: 100%;
        height: 100%;
        display: inherit;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
    }

    .cart_toggle:hover {
        cursor: pointer;
    }

    .cart_container img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item_count_container {
        position: absolute;
        width: 100%;
        top: -.5rem;
        right: -.5rem;
        background: var(--clr-primary-orange);
        padding: .04rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .75rem;
    }

    .cart_items_count {
        font-size: .6rem;
        font-weight: 700;
        color: var(--clr-white);
    }

    .profile_container {
        width: 32px;
        height: 32px;
    }

    .profile_container img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 47.99999rem) {
    .cart_component_container {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        z-index: 1;
        margin: auto;
    }
}

@media only screen and (min-width: 48rem) {
    .section_container {
        box-shadow: none;
        border-bottom: 1px solid var(--clr-neutral-blue500);
    }

    .nav_menu_toggle {
        display: none;
    }

    .nav_menu_container {
        position: static;
        display: flex;
    }

    .nav_menu_container {
        position: static;
        background: none;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 0;
    }

    .nav_menu_container.hide_nav_menu {
        transition: none;
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto;
    }

    .nav_menu_close {
        display: none;
    }

    .menu_content {
        flex-direction: row;
    }

    .menu_list a {
        font-weight: 400;
        color: var(--clr-neutral-blue700);
        position: relative;
    }

    .menu_list a:hover {
        cursor: pointer;
        color: var(--clr-neutral-blue900);
    }

    .menu_list a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: var(--clr-primary-orange);
        transform: translateY(1.6rem);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 
            width .3s ease;
    }

    .menu_list a:hover::after {
        width: 100%;
    }

    .logo {
        order: -1;
        margin-right: 4rem;
    }

    .cart_component_container {
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 1;
        margin: auto;
    }
}

@media only screen and (min-width: 75rem) {
    .section_container {
        padding-inline: 0rem;
    }
}